.searchform {
    background-color: rgba(154, 42, 202, 0.68);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 20px;
    margin-right: 10px;
}

input {
    padding: 8px 15px;
    border: 1px solid #bdc3c7;
    border-radius: 25px;
    font-size: 16px;
    margin-right: 10px;
    width: 200px;
}

.search {
    display: flex;
    justify-content: right;
}

@media (max-width: 600px) {
    .search input {
        width: 200px;
    }

    .search form {
        flex-direction: column;
    }

    .search input,
    .search button {
        width: 100%;
        border-radius: 5px;
    }

    .search button {
        margin-top: 10px;
    }
}