.contenedor {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.peli {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-bottom: 170px;
}

h2 {
    color: rgba(94, 11, 130, 0.68);
}

.show {
    display: block;
}

.hide {
    display: none;
}

@media (max-width: 420px) {
    .contenedor {
        margin-left: 30px;
        margin-right: 30px;
    }

    .peli {
        flex-direction: column;
        justify-content: flex-start;
    }
}