.contenedor{
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.peli{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    justify-content: space-between;
}

.show{
    display: block;
}

.hide{
    display: none;
}
