.pelicula {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem auto;
    max-width: 1000px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pelicula img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.pelicula p {
    margin: 3px 0;
    padding: 6px;
}

.pelicula h2 {
    margin: 2px 0;
    color: rgba(94, 11, 130, 0.68);
    text-align: center;
}

a {
    text-decoration: none;
    color: rgba(94, 11, 130, 0.68);
    align-items: center;
}

.more {
    color: #777;
}

.hide {
    display: none;
    align-items: center;
}

.show {
    display: block;
    align-items: center;
}

.rating {
    text-decoration: underline;
    display: inline-block;
    margin-left: 0.5rem;
    font-style: italic;
    color: #a3a0a0;
}

@media (max-width: 420px) {
    .pelicula {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .pelicula img {
        width: 100%;
        max-width: 300px;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    p {
        font-size: 1rem;
        text-align: center;
    }

    .favoritos {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    button {
        font-size: 1.2rem;
    }
}