header {
    padding: 20px 0;
    background-color: #eec2ee;
    height: 120px;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

header .search {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

@media (max-width: 768px) {
    header .navbar {
        flex-direction: column;
        padding: 0 20px;
    }

    header .search {
        margin-top: 15px;
        justify-content: center;
    }
}