.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eec2ee;
    color: #551a8b;
    font-weight: bold;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 0;
    width: 100%;
    height: 50px;
}

@media (max-width: 420px) {
    .footer {
        flex-direction: column;
        font-size: 0.9rem;
        padding: 10px; 
        height: auto; 
    }
}
