.navbar{
    display: flex;
    font-weight: bolder;
    background-color: #eec2ee;
    height: 90px;
    flex-wrap: wrap;
}

.logo{
    width: 110px;
    max-height: 100%;
    display: flex; 
    border-radius: 70px;
    align-self: center;
}

ul{
    color: black;
    list-style: none;
    display: flex;
}

li{
    padding: 20px 20px;
}

.titulo{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
}

/* .peliculasPopulares{
    color: green
} */