.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    list-style: none;
    font-weight: bolder;
    background-color: rgb(196, 54, 201);
    height: fit-content;
    flex-wrap: nowrap;
}

.logo{
    height: 50px;
    width: 50px;
    padding-right: 10px;
}

ul{
    color: black
}

.titulo{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}