.navbar {
    display: flex;
    font-weight: bolder;
    background-color: #eec2ee;
    height: 95px;
    flex-wrap: wrap;
}

.logo {
    width: 95px;
    max-height: 100%;
    display: flex;
    border-radius: 70px;
    align-self: center;
}

ul {
    color: black;
    list-style: none;
    display: flex;
}

li {
    padding: 20px 20px;
}

@media (max-width: 420px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        height: auto;
    }

    .logo {
        width: 60px;
        border-radius: 30px;
    }

    ul {
        align-items: center;
    }

    li {
        padding: 5px 10px;
        font-size: 12px;
    }

    .titulo {
        font-size: 16px;
        text-align: center;
    }
}